rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Reglas para desarrollo local: permitir lectura y escritura en todas las colecciones
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
